<header class="vcard">
  <h1 class="fn org">
    Egészségkuckó
  </h1>
  <p class="addr">
    <span class="street-address">1055 Budapest, Stollár Béla u. 22. (II. em.)</span>
  </p>
  <p>|</p>
  <p class="tel">
    06 30 212 9758
  </p>
</header>
